# Generic generated output
*.o
*.lo
*.la

# Output builds
build/
squeezeplay_*.deb
squeezeplay_*.buildinfo
squeezeplay_*.changes
src/platforms/debian/.debhelper/
src/platforms/debian/changelog
src/platforms/debian/files
src/platforms/debian/squeezeplay.debhelper.log
src/platforms/debian/squeezeplay.substvars
src/platforms/debian/squeezeplay/

# Output libraries
src/lua-5.1.1/src/liblua.a
src/luaexpat-1.0.2/src/lxp.so.1.0.2
src/luafilesystem-1.2/src/lfs.so.1.2
src/luamd5/md5.so
src/luamd5/sha1.so
src/luaprofiler-2.0/profiler.so
src/luartmp-squeezeplay/rtmp.so
src/luasocket-2.0.2/src/mime.so.1.0.2
src/luasocket-2.0.2/src/socket.so.2.0.2
src/slnunicode-1.1/src/slnunico.so.1.1
src/tolua++-1.0.92/src/lib/libtolua++.so

src/SDL_gfx-2.0.15/.libs/
src/SDL_image-1.2.5/.libs/
src/SDL_ttf-2.0.8/.libs/
src/Tremor/.libs/
src/flac-1.2.1/src/libFLAC/.libs/
src/freetype-2.1.10/objs/.libs/
src/libpng-1.2.32/.libs/
src/luajson/.libs/
src/luazipfilter/.libs/
src/portaudio_v19_1360/lib/
src/squeezeplay/.libs/

# Output binaries
src/SDL_image-1.2.5/showimage
src/SDL_ttf-2.0.8/glfont
src/lua-5.1.1/src/lua
src/lua-5.1.1/src/luac
src/squeezeplay/jive
src/squeezeplay/jive_alsa

src/portaudio_v19_1360/bin/

# Dependancies
src/SDL_gfx-2.0.15/.deps/
src/SDL_image-1.2.5/.deps/
src/SDL_ttf-2.0.8/.deps/
src/Tremor/.deps/
src/flac-1.2.1/examples/c/decode/file/.deps/
src/flac-1.2.1/examples/c/encode/file/.deps/
src/flac-1.2.1/examples/cpp/decode/file/.deps/
src/flac-1.2.1/examples/cpp/encode/file/.deps/
src/flac-1.2.1/src/flac/.deps/
src/flac-1.2.1/src/libFLAC++/.deps/
src/flac-1.2.1/src/libFLAC/.deps/
src/flac-1.2.1/src/metaflac/.deps/
src/flac-1.2.1/src/plugin_common/.deps/
src/flac-1.2.1/src/plugin_xmms/.deps/
src/flac-1.2.1/src/share/getopt/.deps/
src/flac-1.2.1/src/share/grabbag/.deps/
src/flac-1.2.1/src/share/replaygain_analysis/.deps/
src/flac-1.2.1/src/share/replaygain_synthesis/.deps/
src/flac-1.2.1/src/share/utf8/.deps/
src/flac-1.2.1/src/test_grabbag/cuesheet/.deps/
src/flac-1.2.1/src/test_grabbag/picture/.deps/
src/flac-1.2.1/src/test_libFLAC++/.deps/
src/flac-1.2.1/src/test_libFLAC/.deps/
src/flac-1.2.1/src/test_libs_common/.deps/
src/flac-1.2.1/src/test_seeking/.deps/
src/flac-1.2.1/src/test_streams/.deps/
src/libpng-1.2.32/.deps/
src/luajson/.deps/
src/luazipfilter/.deps/
src/squeezeplay/.deps/


# Autotools
src/SDL-1.2.13/Makefile
src/SDL-1.2.13/config.log
src/SDL-1.2.13/config.status
src/SDL-1.2.13/include/SDL_config.h
src/SDL-1.2.13/libtool
src/SDL-1.2.13/sdl-config
src/SDL-1.2.13/sdl.pc
src/SDL_gfx-2.0.15/Makefile
src/SDL_gfx-2.0.15/autom4te.cache/
src/SDL_gfx-2.0.15/config.log
src/SDL_gfx-2.0.15/config.status
src/SDL_gfx-2.0.15/libtool
src/SDL_image-1.2.5/Makefile
src/SDL_image-1.2.5/config.log
src/SDL_image-1.2.5/config.status
src/SDL_image-1.2.5/libtool
src/SDL_ttf-2.0.8/Makefile
src/SDL_ttf-2.0.8/config.log
src/SDL_ttf-2.0.8/config.status
src/SDL_ttf-2.0.8/libtool
src/Tremor/Makefile
src/Tremor/autom4te.cache/
src/Tremor/config.h
src/Tremor/config.log
src/Tremor/config.status
src/Tremor/libtool
src/Tremor/stamp-h1
src/flac-1.2.1/Makefile
src/flac-1.2.1/build/Makefile
src/flac-1.2.1/config.h
src/flac-1.2.1/config.log
src/flac-1.2.1/config.status
src/flac-1.2.1/doc/Makefile
src/flac-1.2.1/doc/html/Makefile
src/flac-1.2.1/doc/html/images/Makefile
src/flac-1.2.1/doc/html/images/hw/Makefile
src/flac-1.2.1/doc/html/ru/Makefile
src/flac-1.2.1/examples/Makefile
src/flac-1.2.1/examples/c/Makefile
src/flac-1.2.1/examples/c/decode/Makefile
src/flac-1.2.1/examples/c/decode/file/Makefile
src/flac-1.2.1/examples/c/encode/Makefile
src/flac-1.2.1/examples/c/encode/file/Makefile
src/flac-1.2.1/examples/cpp/Makefile
src/flac-1.2.1/examples/cpp/decode/Makefile
src/flac-1.2.1/examples/cpp/decode/file/Makefile
src/flac-1.2.1/examples/cpp/encode/Makefile
src/flac-1.2.1/examples/cpp/encode/file/Makefile
src/flac-1.2.1/include/FLAC++/Makefile
src/flac-1.2.1/include/FLAC/Makefile
src/flac-1.2.1/include/Makefile
src/flac-1.2.1/include/share/Makefile
src/flac-1.2.1/include/share/grabbag/Makefile
src/flac-1.2.1/include/test_libs_common/Makefile
src/flac-1.2.1/libtool
src/flac-1.2.1/libtool-disable-static
src/flac-1.2.1/m4/Makefile
src/flac-1.2.1/man/Makefile
src/flac-1.2.1/obj/Makefile
src/flac-1.2.1/obj/debug/Makefile
src/flac-1.2.1/obj/debug/bin/Makefile
src/flac-1.2.1/obj/debug/lib/Makefile
src/flac-1.2.1/obj/release/Makefile
src/flac-1.2.1/obj/release/bin/Makefile
src/flac-1.2.1/obj/release/lib/Makefile
src/flac-1.2.1/src/Makefile
src/flac-1.2.1/src/flac/Makefile
src/flac-1.2.1/src/libFLAC++/Makefile
src/flac-1.2.1/src/libFLAC++/flac++.pc
src/flac-1.2.1/src/libFLAC/Makefile
src/flac-1.2.1/src/libFLAC/flac.pc
src/flac-1.2.1/src/libFLAC/ia32/Makefile
src/flac-1.2.1/src/libFLAC/include/Makefile
src/flac-1.2.1/src/libFLAC/include/private/Makefile
src/flac-1.2.1/src/libFLAC/include/protected/Makefile
src/flac-1.2.1/src/libFLAC/ppc/Makefile
src/flac-1.2.1/src/libFLAC/ppc/as/Makefile
src/flac-1.2.1/src/libFLAC/ppc/gas/Makefile
src/flac-1.2.1/src/metaflac/Makefile
src/flac-1.2.1/src/monkeys_audio_utilities/Makefile
src/flac-1.2.1/src/monkeys_audio_utilities/flac_mac/Makefile
src/flac-1.2.1/src/monkeys_audio_utilities/flac_ren/Makefile
src/flac-1.2.1/src/plugin_common/Makefile
src/flac-1.2.1/src/plugin_winamp2/Makefile
src/flac-1.2.1/src/plugin_winamp2/include/Makefile
src/flac-1.2.1/src/plugin_winamp2/include/winamp2/Makefile
src/flac-1.2.1/src/plugin_xmms/Makefile
src/flac-1.2.1/src/share/Makefile
src/flac-1.2.1/src/share/getopt/Makefile
src/flac-1.2.1/src/share/grabbag/Makefile
src/flac-1.2.1/src/share/replaygain_analysis/Makefile
src/flac-1.2.1/src/share/replaygain_synthesis/Makefile
src/flac-1.2.1/src/share/replaygain_synthesis/include/Makefile
src/flac-1.2.1/src/share/replaygain_synthesis/include/private/Makefile
src/flac-1.2.1/src/share/utf8/Makefile
src/flac-1.2.1/src/test_grabbag/Makefile
src/flac-1.2.1/src/test_grabbag/cuesheet/Makefile
src/flac-1.2.1/src/test_grabbag/picture/Makefile
src/flac-1.2.1/src/test_libFLAC++/Makefile
src/flac-1.2.1/src/test_libFLAC/Makefile
src/flac-1.2.1/src/test_libs_common/Makefile
src/flac-1.2.1/src/test_seeking/Makefile
src/flac-1.2.1/src/test_streams/Makefile
src/flac-1.2.1/stamp-h1
src/flac-1.2.1/test/Makefile
src/flac-1.2.1/test/cuesheets/Makefile
src/flac-1.2.1/test/flac-to-flac-metadata-test-files/Makefile
src/flac-1.2.1/test/metaflac-test-files/Makefile
src/flac-1.2.1/test/pictures/Makefile
src/freetype-2.1.10/builds/unix/config.log
src/freetype-2.1.10/builds/unix/config.status
src/freetype-2.1.10/builds/unix/freetype-config
src/freetype-2.1.10/builds/unix/freetype2.pc
src/libpng-1.2.32/Makefile
src/libpng-1.2.32/config.h
src/libpng-1.2.32/config.log
src/libpng-1.2.32/config.status
src/libpng-1.2.32/libpng-config
src/libpng-1.2.32/libpng.pc
src/libpng-1.2.32/libpng.sym
src/libpng-1.2.32/libpng.vers
src/libpng-1.2.32/libpng12-config
src/libpng-1.2.32/libpng12.pc
src/libpng-1.2.32/libtool
src/libpng-1.2.32/stamp-h1
src/luajson/Makefile
src/luajson/autom4te.cache/
src/luajson/config.log
src/luajson/config.status
src/luajson/libtool
src/luajson/src/config.h
src/luajson/src/stamp-h1
src/luazipfilter/Makefile
src/luazipfilter/autom4te.cache
src/luazipfilter/config.log
src/luazipfilter/config.status
src/luazipfilter/libtool
src/luazipfilter/src/config.h
src/luazipfilter/src/stamp-h1
src/portaudio_v19_1360/Makefile
src/portaudio_v19_1360/bin-stamp
src/portaudio_v19_1360/config.log
src/portaudio_v19_1360/config.status
src/portaudio_v19_1360/lib-stamp
src/portaudio_v19_1360/libtool
src/portaudio_v19_1360/portaudio-2.0.pc
src/squeezeplay/Makefile
src/squeezeplay/autom4te.cache/
src/squeezeplay/config.log
src/squeezeplay/config.status
src/squeezeplay/libtool
src/squeezeplay/src/config.h
src/squeezeplay/src/stamp-h1
src/squeezeplay/src/version.h
src/squeezeplay_desktop/Makefile
src/squeezeplay_desktop/config.log
src/squeezeplay_desktop/config.status

# Generated output that has been committed to the source control
# These files will show up as changed after every build
# (and since they are checked in, they cannot be .gitignored)
# FIXME - remove them from the repo
src/Tremor/config.h.in
src/Tremor/configure
src/luajson/configure
src/luajson/src/config.h.in
src/luazipfilter/configure
src/squeezeplay/configure
src/squeezeplay/src/config.h.in

####
src/SDL-1.2.13/SDL.qpg
src/SDL-1.2.13/build-deps
src/SDL-1.2.13/build/
src/SDL_image-1.2.5/SDL_image.qpg
src/SDL_image-1.2.5/SDL_image.spec
src/Tremor/Version_script
src/Tremor/config.h.in~
src/Tremor/debian/Makefile.in
src/freetype-2.1.10/builds/unix/ftconfig.h
src/freetype-2.1.10/builds/unix/libtool
src/freetype-2.1.10/builds/unix/unix-cc.mk
src/freetype-2.1.10/builds/unix/unix-def.mk
src/freetype-2.1.10/config.mk
src/luajson/src/config.h.in~
src/squeezeplay/src/config.h.in~
