# Generic generated output
*.o
*.lo
*.la

# Output builds
build/
squeezeplay_*.deb
squeezeplay_*.buildinfo
squeezeplay_*.changes
src/platforms/debian/.debhelper/
src/platforms/debian/changelog
src/platforms/debian/files
src/platforms/debian/squeezeplay.debhelper.log
src/platforms/debian/squeezeplay.substvars
src/platforms/debian/squeezeplay/

# Output libraries
src/lua-5.1.1/src/liblua.a
src/luaexpat-1.0.2/src/lxp.so.1.0.2
src/luafilesystem-1.2/src/lfs.so.1.2
src/luamd5/md5.so
src/luamd5/sha1.so
src/luaprofiler-2.0/profiler.so
src/luartmp-squeezeplay/rtmp.so
src/luasocket-2.0.2/src/mime.so.1.0.2
src/luasocket-2.0.2/src/socket.so.2.0.2
src/slnunicode-1.1/src/slnunico.so.1.1
src/tolua++-1.0.92/src/lib/libtolua++.so

src/Tremor/.libs/
src/luajson/.libs/
src/luazipfilter/.libs/
src/squeezeplay/.libs/

# Output binaries
src/lua-5.1.1/src/lua
src/lua-5.1.1/src/luac
src/squeezeplay/jive
src/squeezeplay/jive_alsa

# Dependancies
src/Tremor/.deps/
src/luajson/.deps/
src/luazipfilter/.deps/
src/squeezeplay/.deps/


# Autotools
src/Tremor/Makefile
src/Tremor/autom4te.cache/
src/Tremor/config.h
src/Tremor/config.h.in
src/Tremor/config.log
src/Tremor/config.status
src/Tremor/configure
src/Tremor/libtool
src/Tremor/stamp-h1
src/luajson/Makefile
src/luajson/autom4te.cache/
src/luajson/config.log
src/luajson/config.status
src/luajson/configure
src/luajson/libtool
src/luajson/src/config.h
src/luajson/src/config.h.in
src/luajson/src/stamp-h1
src/luazipfilter/Makefile
src/luazipfilter/autom4te.cache
src/luazipfilter/config.log
src/luazipfilter/config.status
src/luazipfilter/configure
src/luazipfilter/libtool
src/luazipfilter/src/config.h
src/luazipfilter/src/stamp-h1
src/squeezeplay/Makefile
src/squeezeplay/autom4te.cache/
src/squeezeplay/config.log
src/squeezeplay/config.status
src/squeezeplay/configure
src/squeezeplay/libtool
src/squeezeplay/src/config.h
src/squeezeplay/src/config.h.in
src/squeezeplay/src/stamp-h1
src/squeezeplay/src/version.h
src/squeezeplay_desktop/Makefile
src/squeezeplay_desktop/config.log
src/squeezeplay_desktop/config.status

####
src/Tremor/Version_script
src/Tremor/config.h.in~
src/Tremor/debian/Makefile.in
src/luajson/src/config.h.in~
src/squeezeplay/src/config.h.in~
